<section class="mx-auto bg-main-light  my-3 rounded col-md-8 p-4">


    <h1>Login Now</h1>
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <div class="my-3">
            <label for="email">Email :</label>
            <input type="email" class="form-control" id="email" formControlName="email" #nameform>
            <div class="alert alert-danger font-sm "
                *ngIf="loginForm.get('email')?.errors&&(loginForm.get('email')?.touched||nameform.value.length>0)">
                <p *ngIf="loginForm.get('email')?.getError('required')">email required</p>
                <p *ngIf="loginForm.get('email')?.getError('email')">email invalid</p>

            </div>
        </div>


        <div class="my-3">
            <label for="password">
                password :
            </label>
            <input type="password" formControlName="password" class="form-control" id="password" #passwordform>

            <div class="alert alert-danger"
                *ngIf="loginForm.get('password')?.errors&&(loginForm.get('password')?.touched||passwordform.value.length>0)">
                <p *ngIf="loginForm.get('password')?.getError('required')">password is required</p>
                <p *ngIf="loginForm.get('password')?.getError('pattern')">incorrect password</p>

            </div> 


        </div>
        <div class="d-flex justify-content-between align-items-center">
            <a class="link-success fw-bolder fs-5" routerLink="/forgetPassword">Forget Your Password !</a>
            <button class="btn-main ms-auto d-block">Login <i class="fa fa-spinner fa-spin"
                    *ngIf="isLoadind"></i></button>

        </div>
        <p *ngIf="erro" class="alert alert-danger">{{erro}}</p>
    </form>
</section>