<section class="col-md-10 mx-auto my-5 bg-main-light p-5 rounded" *ngIf="!userEmail&&!userCode">
    <div class="container">
        <h1 class="w-100 my-5 text-center">Enter Your Email To Verfiy</h1>
        <div class="row">

            <input type="email" name="email" id="email" class="form-control" placeholder="email.." #emailControl>
            <div class="">
                <p *ngIf="massageEror" class="alert alert-danger">{{massageEror}}</p>
            </div>

            <button class="btn-main my-4" (click)="handleEmail(emailControl.value)"><span
                    *ngIf="!isLoading">Verfiy</span>
                <span *ngIf="isLoading">
                    <li class="fa-solid fa-spin fa-spinner fa-xl"></li>
                </span></button>
        </div>
    </div>
</section>


<!-- &section code -->
<section class="col-md-10 mx-auto my-5 bg-main-light p-5 rounded" *ngIf="userEmail&&!userCode">
    <div class="container">
        <h1 class="w-100 my-5 text-center">Enter The Code</h1>
        <div class="row">

            <input type="text" name="code" id="code" class="form-control" placeholder="code.." #codeControl>
            <div class="">
                <p *ngIf="massageEror" class="alert alert-danger">{{massageEror}}</p>
            </div>
            <button class="btn-main my-4" (click)="handleCode(codeControl.value)"><span *ngIf="!isLoading">Verfiy</span>
                <span *ngIf="isLoading">
                    <li class="fa-solid fa-spin fa-spinner fa-xl"></li>
                </span></button>
        </div>
    </div>
</section>








<!-- !section repassword -->
<section class="col-md-10 mx-auto my-5 bg-main-light p-5 rounded" *ngIf="userCode&&userEmail">
    <div class="container">
        <h1 class="w-100 my-5 text-center">Enter Your New Password</h1>
        <div class="row">

            <form [formGroup]="newPasswordGorup">



                <div class="my-3">
                    <label for="password">Password</label>
                    <input type="password" name="new-password" id="new" class="form-control" formControlName="password"
                        placeholder=" new password.." #newPassword1>
                    <div class="alert alert-danger font-sm "
                        *ngIf=" newPasswordGorup.get('password')?.errors && newPasswordGorup.get('password')?.touched">
                        <p *ngIf=" newPasswordGorup.get('password')?.getError('required')">password required</p>
                        <p *ngIf=" newPasswordGorup.get('password')?.getError('pattern')">password must start with
                            upperCase
                            then
                            from 6 to 10</p>

                    </div>

                </div>





                <div class="my-3">
                    <label for="rePassword">RePassword</label>
                    <input type="password" name="repassword" id="rePassword" class="form-control my-2"formControlName="rePassword"
                        placeholder="rePassword..">
                    <div class="alert alert-danger font-sm "
                        *ngIf="newPasswordGorup.get('rePassword')?.errors&&newPasswordGorup.get('rePassword')?.touched">
                        <p *ngIf="newPasswordGorup.get('rePassword')?.getError('required')">rePassword required</p>
                        <p *ngIf="newPasswordGorup.get('rePassword')?.getError('rePasswordMatch')">RePassword Not Match
                            Password</p>

                    </div>
                </div>


                <div class="">
                    <p *ngIf="massageEror" class="alert alert-danger">{{massageEror}}</p>
                </div>
                <button class="btn-main my-4 w-100" (click)="handleForm(newPassword1.value)"><span
                        *ngIf="!isLoading">Verfiy</span>
                    <span *ngIf="isLoading">
                        <li class="fa-solid fa-spin fa-spinner fa-xl"></li>
                    </span></button>
            </form>






        </div>
    </div>
</section>