<footer class="w-100  bg-main-light text-center overflow-hidden p-3 ">
    <div class="coantainer">
        <div class="row">
            <h3 class="fw-bolder">Get The FreshChart App</h3>
            <p>We Will Send Alink Open It On Your Phone To Dowload App</p>


            <div class="fw-bolder">
                <div class=" mt-4 ">
                    <p class="mb-0">Created By Mohamed Abozeid</p>
                </div>
                <div class=" mt-4 ">
                    <p>
                        <li class="nav-item d-flex justify-content-center align-items-center px-5">

                            <a class="nav-link" href="https://www.facebook.com/profile.php?id=100005470246146"
                                target="_blank"><i class="fa-brands fa-facebook px-3 fa-xl"></i></a>
                            <a class="nav-link" href="https://api.whatsapp.com/send?phone=201202319297"
                                target="_blank"><i class="fa-brands fa-whatsapp px-3 fa-xl"></i></a>
                            <a class="nav-link" href="https://www.linkedin.com/in/mohammed-abozeid-0a8200299/"
                                target="_blank"><i class="fa-brands fa-linkedin px-3 fa-xl"></i></a>

                        </li>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>