<section class="w-100 my-5" *ngIf="listCount>0;else name">
    <div class="container shadow p-4 bg-main-light text-center">
        <h1 class="text-center my-4 fw-bolder text-main card p-3  ">My Wish List </h1>
        <div class="d-flex justify-content-between align-items-center my-3">
            <h5 class="text-main fw-bolder card p-2">Total Number Of Items : {{listCount }} Item </h5>
        </div>
        <div class="row border-bottom border-2 p-3 justify-content-center align-items-center"
            *ngFor="let item of myList">
            <div class="col-sm-6 col-md-2"><img [src]="item.imageCover" [alt]="item.title" class="w-100"></div>
            <div class="col-sm-6 col-md-10  d-flex justify-content-between align-items-center ">
                <div class="">
                    <h4 class="p-2 fw-bolder">{{item.title.split(' ').slice(0,2).join(" ")}}</h4>
                    <p class="text-main fw-bolder fs-5 ">Price : {{item.price|currency:" "}} EGP</p>
                    <button class="btn  border-danger text-danger" (click)="removeProductFromList(('/'+item.id))"> <i
                            class="fa fa-trash"></i> Remove</button>
                </div>
              
                    <button class="add"#btn1 (click)="addToCart(item.id,btn1)" >Add To Cart</button>

            
            </div>
        </div>

      
    </div>


</section>

<ng-template #name>
    <div class="container shadow p-4 bg-main-light text-center my-5">
        <h1 class="text-center my-4 fw-bolder text-main card p-3  ">Your Wish List </h1>
        <h2 class=" p-4 my-5 card fw-bolder border-danger text-red w-50 mx-auto">Empty List !...</h2>
    </div>
</ng-template>