/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

* {
  font-family: monospace;
}
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: var(--font-family);
  --rating-color: #ffc908;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--light-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

body {
  font-family: var(--font-family) !important;
}

.nav-link {
  transition: unset !important;
}
.active-link {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
  border-radius: 5px;
}

.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 5px;
  transition: box-shadow 0.5s;
  overflow: hidden;
  height: 28rem;
}
.product img {
  width: 70%;
  max-height: 15rem;
}

/* Extra Small */
@media screen and (min-width: 0px) and (max-width: 600px) {
  .product img {
    width: 30%;
  }
  


}



.product:hover {
  box-shadow: 0 0 15px #11bd1168;
}

.product h5 {
  height: 2.5rem;
}

.font-sm {
  font-size: 12px;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.btn-main {
  background-color: var(--main-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: #11bd11;
}

.text-danger:hover {
  background-color: #dc3545;
  color: white !important;
  border-color: #dc3545 !important;
}
.text-danger {
  transition: all 0.7s;
}
.text-red {
  color: #dc3545 !important;
}

@media only screen and (min-width: 1200px) {
 

.product span li {
  transform: translate(-200%);
  transition: transform 0.8s;
} 


.product .btn-main {
  transform: translateY(200%);
  transition: transform 0.8s;
} 
 .product:hover .btn-main {
  transform: translateY(0);
}
.product:hover span > li {
  transform: translate(50%);
}


}


